.signOut {
  background-color: transparent;
  color: lightgray;
  margin-top: 7px;
  font-size: 25px;
  border: none;
  outline: none;
  cursor: pointer;
}

.container {
  margin: 40px auto auto auto;
  max-width: 1200px;
}

.app-profiles {
  background-color: #292f38;
  width: 25%;
  min-width: 350px;
  height: 700px;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}

.app-details {
  background-color: #292f38;
  width: 15%;
  min-width: 270px;
  height: 305px;
  padding: 10px;
  margin: 10px 0px 30px 45px;
  border-radius: 5px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}

.app-dms {
  background-color: #292f38;
  width: 25%;
  min-width: 380px;
  height: 640px;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}

.title-friendRequest {
  margin-right: 30px;
}

.badge {
  background-color: transparent;
  color: gray;
  margin-right: 7px;
  font-size: 22px;
  border: none;
  outline: none;
}

.photo {
  background-color: transparent;
  color: lightgray;
  font-size: 30px;
  border: none;
  outline: none;
  cursor: pointer;
}
